@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #2b2b2b;
	font-family: Quicksand;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}
.container
{
	margin: 0px auto;
	width: 1200px;
}

.landingpage{
    
        background: linear-gradient(to right,#cf4af8 50%, white 50%);
    
}

/* Header */
	
#header
{
	position: relative;
	height: 100px;
}

/* Logo */

#logo img
{
    /* height: 15%; */
    width: 15%;
    position:fixed; 
    top:1.6em; 
    left:9%;
}

/* Menu */

#menu
{
	position: absolute;
	right: -9em;
	top: 1.6em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 1em 1.5em 1em 1.5em;
    letter-spacing: 0.10em;
    font-family: Quicksand;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: grey;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    /* background: #dc5c5a;
    border-radius: 25px; */
    color: #cf4af8;
}

#menu .current_page_item a
{
	background:grey;
	border-radius: 30px;
	color: #FFF;
}

/* Banner */

#header-featured
{
		/* padding: 15%;  */
		background-position: center;
		background-size: cover;
		padding-bottom: 5em;
	}

.container h1{
    color: white;
    font-family: Quicksand;
    font-size: 30px;
}

#lefttext{
    float: left;
	text-align: center;
	margin-top: 8em;
	
}

#righttext{
    float: right;
    color: #cf4af8;
	text-align: center;
	
margin-top: 8em;
}
#transformation {
    display: block;
    margin-left: auto;
	margin-right: auto;
	width: 20%;
	
}

/* Page */

#wrapper
{
	background: #1A1A1D;
}

#page
{
	overflow: hidden;
	padding: 6em 0em 17em 0em;
	
	text-align: center;
}

#page .button
{
	margin-top: 2em;
}

/* Content */

	#content
	{
		float: left;
		width: 700px;
	}



/* firstWrapper */

#headingWrapper{
	font-size: 40px;
	margin-top: 10%;
	text-align: left;
	font-family: Source Sans Pro;
}


#paraWrapper{
	text-align: left;
	font-size: 16px;
	color: #808080;
	line-height: 1.8;
}

/* Banner */

#banner{
	overflow: hidden;
	padding: 6em 0em 14em 0em;
	text-align: center;
	background-image: url("gymGirls.jpg") ;
    background-size: 100% ;
    background-position:inherit;
}

#headingBanner{
	font-family: Source Sans Pro;
	color: #FFF;
	font-size: 40px;
}

.btnMerch {
	display: inline-block;
	padding: 15px 50px;
	color: #000000;
	border: 2px solid #000000;
	font-size: 14px;
	line-height: 120%;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 30px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	
	cursor: pointer;
}
/* secondWrapper */

#wrapperTwo{
	background: #9A1750;
}

#containerTwo{
	background: #9A1750;
}

#gymImg img{
	height: 50%;
	float: right;
	position: absolute;
	top: 88%;
}



/* Copyright */

#copyright
{
	overflow: hidden;
	padding: 2em 0em 4em 0em;
	border-top: 3px solid rgba(255,255,255,0.08);
}

#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.3);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}



